<div class="message-input">
		<form  (keydown.enter)="handleSubmit($event)" class="message-form">
			<input
				id="message"
				type="text"
				name="message"
				class="form-control"
				[(ngModel)]="message"
				autoComplete="'off'"
				placeholder="Type something interesting"
				(input)="handleKeyUp($event)"
			/>
		</form>
</div>