.options-container {
	margin: 12% auto 5% auto;
	background-color: #da7057;
	width: 70%;
	border-radius: 10px;
}
.options-container > button {
	margin: 1% 2%;
	border-radius: 5px;
	max-width: 150px;
}
#benchmarkTable {
	margin: 0 auto;
	border: 1px solid lightgrey;
	border-collapse: collapse;
}
.table-container {
	max-height: 700px;
	overflow-y: auto;
}

.table-container::-webkit-scrollbar {
	display: none;
}

