.rows:nth-child(odd) > td {
  background: #da7057;
  color: black;
}
.rows:nth-child(even) > td {
  background: #bc7362;
  color: black;
}
#table {
  margin: 15% auto;
  border: 1px solid lightgrey;
  border-collapse: collapse;
}
#filter > td > input {
  width: 100%;
  text-align: center;
}
#filter > td,
th {
  background-color: #bc7362;
  color: black;
}
td,
th {
  border: 1px solid gold;
  text-align: center;
  padding: 8px;
}

.delete-link {
  background-color: crimson;
  font-size: 14;
  font-weight: 500;
  padding: 3px 48px;
  border-radius: 5px;
  color: gold;
  cursor: pointer;
}
