html,
body,
#root {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	height: 100%;
}
input,
textarea {
	font-family: Arial;
}

.container {
	margin: 10% auto;
}
button:hover {
	opacity: 0.8;
}
input {
	padding: 12px 20px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	border-radius: 10px;
}
button {
	background-color: crimson;
	color: gold;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
}
