<div class="App-login">
	<h3>Prijavite se!</h3>
	<input
		type="text"
		name="username"
		placeholder="Username"
	 	[(ngModel)]="username"
		(input)="handleInput($event)"
	/>
	<br />
	<span *ngIf="errors.has('username')" class="help error">
		 {{ errors.get('username') }}
	</span>
	<br />
	<input
		type="password"
		name="password"
		placeholder="Password"
		[(ngModel)]="password"
		(input)="handleInput($event)"
	/>
	<br />
	<span  *ngIf="errors.has('password')" class="help error">
		{{ errors.get('password') }}
	</span>
	<br />
	<button
		[disabled]="errors.any() || areInputsEmpty()"
		(click)="handleClick()"
	>
		Login
	</button>
	<br />
	Nemate račun? <a routerLink="/register" routerLinkActive="active">Registrujte se!</a>
</div>
