<div class="review-info">
		<p>
			{{review.username}}: <span>{{review.comment}}</span>
		</p>
		<form class="rating">
			  <label>
				    <span *ngFor="let rating of nRating" class="icon hovered-icon">&#9733;</span>
				    <span *ngFor="let rating of nLeftRating" class="icon">&#9733;</span>
			  </label>
		</form>
</div>