<template>
	<div>
		<Adminheader />
		<table id="table">
			<tbody>
				<tr id="header">
					<th>User Name</th>
					<th>User First Name</th>
					<th>User Last Name</th>
					<th>User Email</th>
					<th>Delete User</th>
				</tr>
				<tr id="filter">
					<td>
						<input
							type="text"
							name="username"
							placeholder="filter username"
							@input="handleInput"
						/>
					</td>
					<td>
						<input
							type="text"
							name="firstName"
							placeholder="filter firstname"
							@input="handleInput"
						/>
					</td>
					<td>
						<input
							type="text"
							name="lastName"
							placeholder="filter lastname"
							@input="handleInput"
						/>
					</td>
					<td>
						<input 
							type="text" 
							name="email" 
							placeholder="filter email" 
							@input="handleInput" />
					</td>
					<td />
				</tr>
				<tr v-for="user in filteredUsers" :key="user.id" class="rows">
					<td>{{user.username}}</td>
					<td>{{user.firstName}}</td>
					<td>{{user.lastName}}</td>
					<td>{{user.email}}</td>
					<td>
						<a class="delete-link" @click="deleteUser(user.username)">
							Delete
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</template>

<script>
import Adminheader from './Adminheader';
import axios from 'axios';
import router from '../router/index';

export default {
	name: 'Adminboard',
	data() {
		return {
			users: [],
			filters: {}
		};
	},
	components: {
		Adminheader
	},
	computed: {
		filteredUsers: function() {
			return Object.keys(this.filters).length !== 0
				? this.users.filter(user =>
						Array.from(Object.keys(this.filters)).every(
							f => ~user[f].toLowerCase().indexOf(this.filters[f].toLowerCase())
						)
				  )
				: this.users;
		}
	},
	mounted() {
		this.getUsers();
	},
	methods: {
		handleInput(e) {
			if (e.target.value) {
				if (this.filters && this.filters.hasOwnProperty(e.target.name)) delete this.filters[e.target.name];
				this.filters = Object.assign({ [e.target.name]: e.target.value }, this.filters);
			} else {
				let clone = Object.assign({}, this.filters);
				delete clone[e.target.name];
				this.filters = clone;
			}
		},
		deleteUser(username) {
			axios
				.post('/deleteUser', { username: username })
				.then(response => (this.users = response.data.filter(el => el.role != 'admin')))
				.catch(error => console.log(error));
		},
		getUsers() {
			axios
				.get('/loggeduser')
				.then(
					auth =>
						auth.data != 'anonymousUser'
							? axios
									.get('/getAllUsers', {})
									.then(response => (this.users = response.data.filter(el => el.role != 'admin')))
									.catch(error => console.log(error))
							: router.push('login')
				)
				.catch(error => router.push('login'));
		}
	}
};
</script>

<style>
.rows:nth-child(odd) > td {
	background: #da7057;
	color: black;
}
.rows:nth-child(even) > td {
	background: #bc7362;
	color: black;
}
#table {
	margin: 15% auto;
	border: 1px solid lightgrey;
	border-collapse: collapse;
}
#filter > td > input {
	width: 100%;
	text-align: center;
}
#filter > td,
th {
	background-color: #bc7362;
	color: black;
}
td,
th {
	border: 1px solid gold;
	text-align: center;
	padding: 8px;
}

.delete-link {
	background-color: crimson;
	font-size: 14;
	font-weight: 500;
	padding: 3px 48px;
	border-radius: 5px;
	color: gold;
	cursor: pointer;
}
</style>
