<template>
	<div>
		<Adminheader />
		<div class="framework-option-container">
			<button @click="averageScores('angular')">Angular Average Scores</button>
			<button @click="averageScores('react')">React Average Scores</button>
			<button @click="averageScores('vue')">Vue Average Scores</button>
		</div>
		<div :hidden="!averageFrameworkScores" id="averageScore-container" :value="averageFrameworkScores" />
		<div class="table-container">
			<table v-if="benchmarks.length" id="benchmarkResultsTable">
				<tbody>
					<tr id="header">
						<th>Action</th>
						<th>Duration</th>
						<th>Framework</th>
					</tr>
					<tr id="benchmarkResultsTableFilter">
						<td>
							<input type="text" name="action" placeholder="Action" @input="handleInput" />
						</td>
						<td>
							<input type="text" name="duration" placeholder=" > duration" @input="handleInput" />
						</td>
						<td>
							<input type="text" name="framework" placeholder="framework" @input="handleInput" />
						</td>
					</tr>
					<tr v-for="(benchmark,index) in filteredBenchmarks" :key="`benchmark-${index}`" class="rows">
						<td>{{benchmark.action}}</td>
						<td>{{benchmark.duration}}</td>
						<td>{{benchmark.framework}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</template>

<script>
import Adminheader from './Adminheader';
import axios from 'axios';
import router from '../router/index';

export default {
	name: 'Adminboard',
	data() {
		return {
			benchmarks: [],
			filters: {},
			averageFrameworkScores: ''
		};
	},
	components: {
		Adminheader
	},
	computed: {
		filteredBenchmarks: function() {
			return Object.keys(this.filters).length !== 0
				? this.benchmarks.filter(benchmark =>
						Array.from(Object.keys(this.filters)).every(
							f =>
								f !== 'duration'
									? ~benchmark[f].toLowerCase().indexOf(this.filters[f].toLowerCase())
									: Number(benchmark[f]) < Number(this.filters[f])
						)
				  )
				: this.benchmarks;
		}
	},
	mounted() {
		this.getBenchmarks();
	},
	methods: {
		handleInput(e) {
			if (e.target.value) {
				if (this.filters && this.filters.hasOwnProperty(e.target.name)) delete this.filters[e.target.name];
				this.filters = Object.assign({ [e.target.name]: e.target.value }, this.filters);
			} else {
				let clone = Object.assign({}, this.filters);
				delete clone[e.target.name];
				this.filters = clone;
			}
		},
		averageScores(framework) {
			let averageFrameworkScores = '';
			let groupedBenchmarksByAction;
			Array.from(
				Object.keys(
					(groupedBenchmarksByAction = this.benchmarks
						.filter(el => el.framework === framework)
						.reduce((acc, el) => {
							acc[el.action] = acc[el.action] || [];
							acc[el.action].push(el);
							return acc;
						}, Object.create(null)))
				)
			).map(
				el =>
					(averageFrameworkScores += `${el} ---> ${(
						groupedBenchmarksByAction[el].reduce((acc, score) => acc + Number(score.duration), 0) /
						groupedBenchmarksByAction[el].length
					).toFixed(2)} ms <br/>`)
			);
			this.averageFrameworkScores = averageFrameworkScores;
			document.getElementById('averageScore-container').innerHTML = this.averageFrameworkScores;
		},
		getBenchmarks() {
			axios
				.get('/benchmarks')
				.then(response => (this.benchmarks = Object.freeze(response.data)))
				.catch(error => console.log(error));
		}
	}
};
</script>

<style>
#benchmarkResultsTable {
	margin: 0 auto;
	border: 1px solid lightgrey;
	border-collapse: collapse;
}
.framework-option-container {
	margin: 12% auto 5% auto;
	background-color: #da7057;
	width: 70%;
	border-radius: 10px;
}
.framework-option-container > button {
	margin: 1% 2%;
	border-radius: 5px;
	max-width: 200px;
}
#averageScore-container {
	margin: 5% auto;
	background-color: #bc7362;
	width: 30%;
	padding: 10px;
	font-weight: bold;
	border-radius: 5px;
	color: #200f0a;
}
.rows:nth-child(odd) > td {
	background: #da7057;
	color: black;
}
.rows:nth-child(even) > td {
	background: #bc7362;
	color: black;
}
#benchmarkResultsTable {
	margin: 0 auto;
	border: 1px solid lightgrey;
	border-collapse: collapse;
}
#benchmarkResultsTableFilter > td > input {
	width: 100%;
	text-align: center;
}
#benchmarkResultsTableFilter > td,
th {
	background-color: #bc7362;
	color: black;
}
td,
th {
	border: 1px solid gold;
	text-align: center;
	padding: 8px;
}
</style>
