<template>
	<div>
		<Adminheader />
		<div class="options-container">
			<button @click="measureTime(createShows)">Create 500 shows</button>
			<button @click="measureTime(addShows)">Add 500 shows</button>
			<button @click="measureTime(updateShows)">Update rows</button>
			<button @click="measureTime(deleteShows)">Delete shows</button>
		</div>
		<div class="table-container">
			<table v-if="shows.length" id="benchmarkTable">
				<tbody>
					<tr id="header">
						<th>Row Number</th>
						<th>Show Title</th>
						<th>Show Genre</th>
						<th>Show Actor</th>
						<th>Delete Show</th>
					</tr>
					<tr v-for="(show,index) in shows" :key="index" class="rows">
						<td>{{index + 1}}</td>
						<td>{{show.title}}</td>
						<td>{{show.genre}}</td>
						<td>{{show.actor}}</td>
						<td>
							<a class="delete-link" @click="deleteShow(index)">
								Delete
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</template>

<script>
import Adminheader from './Adminheader';
import Options from '../helpers/helperfunctions';
import axios from 'axios';

var startTime;
var endTime;
var actionName;
var duration;

export default {
	name: 'Benchmark',
	data() {
		return {
			shows: []
		};
	},
	components: {
		Adminheader
	},
	updated() {
		this.calculateDuration();
	},
	methods: {
		calculateDuration() {
			window.setTimeout(() => {
				endTime = performance.now();
				duration = endTime - startTime;
				console.log(duration, actionName);
				axios
					.post('/benchmark', {
						action: actionName,
						duration: duration,
						framework: 'vue'
					})
					.then(response => console.log(response))
					.catch(error => console.log(error));
			}, 0);
		},
		measureTime(fun) {
			actionName = fun.name.split(' ')[1];
			startTime = performance.now();
			fun.bind(this)();
		},
		deleteShow(index) {
			this.shows = Options.deleteRow(index);
		},
		createShows() {
			if (!this.shows.length) {
				this.shows = Options.makeData(500);
			}
		},
		addShows() {
			this.shows = Options.makeData(500);
		},
		updateShows() {
			this.shows = Options.updateData();
		},
		deleteShows() {
			this.shows = Options.deleteData();
		}
	}
};
</script>

<style>
.options-container {
	margin: 12% auto 5% auto;
	background-color: #da7057;
	width: 70%;
	border-radius: 10px;
}
.options-container > button {
	margin: 1% 2%;
	border-radius: 5px;
	max-width: 150px;
}
#benchmarkTable {
	margin: 0 auto;
	border: 1px solid lightgrey;
	border-collapse: collapse;
}
.table-container {
	max-height: 700px;
	overflow-y: auto;
}

.table-container::-webkit-scrollbar {
	display: none;
}

.rows:nth-child(odd) > td {
	background: #da7057;
	color: black;
}
.rows:nth-child(even) > td {
	background: #bc7362;
	color: black;
}
td,
th {
	border: 1px solid gold;
	text-align: center;
	padding: 8px;
}
#header > th {
	border: 1px solid gold;
	text-align: center;
	background: #da7057;
	font-weight: bold;
	padding: 8px;
	color: #200f0a;
}
.delete-link {
	background-color: crimson;
	font-size: 14;
	font-weight: 500;
	padding: 3px 48px;
	border-radius: 5px;
	color: gold;
	cursor: pointer;
}
</style>
