<template>
	<div>
		<Header />
		<div v-if="isLoaded" class="container">
			<div class="chat-room-container">
				<Messages  :messages="chat.messages" :user="user" :typingUsers="chat.typingUsers"/>
 				<MessageInput
					:sendMessage="sendMessageWrapper"
					:sendTyping="sendTypingWrapper"
				/>
			</div>
		</div>
	</div>
</template>

<script>
import {
	USER_CONNECTED,
	LOGOUT,
	VERIFY_USER,
	COMMUNITY_CHAT,
	MESSAGE_SENT,
	MESSAGE_RECIEVED,
	TYPING
} from '../helpers/Events';
import Messages from './Messages.vue';
import MessageInput from './MessageInput';
import Header from './Header';
import io from 'socket.io-client';
import axios from 'axios';
const socketUrl = 'http://localhost:3232';

export default {
	name: 'Chat',
	data() {
		return {
			socket: null,
			user: null,
			chats: [],
			activeChat: null,
			chat: null,
			isLoaded: false
		};
	},
	components: {
		Messages,
		MessageInput,
		Header
	},
	mounted() {
		this.initialSetup();
	},
	methods: {
		setUser: function(principal) {
			let user = principal.user;
			this.socket.emit(USER_CONNECTED, user);
			this.user = user;
		},
		createChat: function(chat) {
			this.chat = chat;

			const messageEvent = `${MESSAGE_RECIEVED}-${chat.id}`;
			const typingEvent = `${TYPING}-${chat.id}`;

			this.socket.on(typingEvent, this.updateTypingInChat(chat.id));
			this.socket.on(messageEvent, this.addMessageToChat(chat.id));
			axios
				.get('/messages')
				.then(response => {
					response.data.map(mes => this.chat.messages.push(mes));
					this.isLoaded = true;
				})
				.catch(error => console.log(error));
		},
		initialSetup: function() {
			const socket = io(socketUrl);
			this.socket = socket;
			this.socket.on('connect', () => {});

			axios
				.get('/loggeduser')
				.then(auth => socket.emit(VERIFY_USER, auth.data, this.setUser))
				.catch(error => console.log(error));
			this.socket.emit(COMMUNITY_CHAT, chat => this.createChat(chat));
		},

		addMessageToChat: function(chatId) {
			return message => {
				this.chat.messages.push(message);
			};
		},
		updateTypingInChat: function(chatId) {
			return ({ isTyping, user }) => {
				if (user !== this.user.name) {
					if (isTyping && !this.chat.typingUsers.includes(user)) {
						this.chat.typingUsers.push(user);
					} else if (!isTyping && this.chat.typingUsers.includes(user)) {
						this.chat.typingUsers = this.chat.typingUsers.filter(u => u !== user);
					}
				}
			};
		},
		sendMessage: function(chatId, message) {
			axios
				.post('/message', {
					message: message,
					sender: this.user.name,
					time: `${new Date(Date.now()).getHours()}:${('0' + new Date(Date.now()).getMinutes()).slice(-2)}`
				})
				.then(response => console.log(response))
				.catch(error => console.log(error));
			this.socket.emit(MESSAGE_SENT, { chatId, message });
		},
		sendTyping: function(chatId, isTyping) {
			this.socket.emit(TYPING, { chatId, isTyping });
		},
		sendMessageWrapper: function(message) {
			this.sendMessage(this.chat.id, message);
		},
		sendTypingWrapper: function(isTyping) {
			this.sendTyping(this.chat.id, isTyping);
		}
	}
};
</script>

<style>
.container {
	margin: 10% auto;
}
.chat-room-container {
	margin: 0 auto;
	width: 50%;
	max-height: 500px;
}
@media screen and (max-width: 510px) {
	.chat-room-container {
		width: 100%;
	}
}
</style>
