<template>
	<div>
		<Header />
		<input
			type="text"
			v-model="filter"
			id="filter-input"
			@input = "handleInput"
			placeholder="Search"
		/>
		<div class="movie-list">
			<MovieCard v-for="(movie,index) in filteredMovies" :movie="movie"
			:user="user"
			:key="`movie-${index}`"/>
		</div>
	</div>
</template>

<script>
import MovieCard from './MovieCard.vue';
import Header from './Header';
import axios from 'axios';
import router from '../router/index';

export default {
	name: 'Dashboard',
	data() {
		return {
			movies: [],
			filteredMovies: [],
			user: '',
			filter: ''
		};
	},
	mounted() {
		this.getMovies();
	},
	components: {
		MovieCard: MovieCard,
		Header: Header
	},
	methods: {
		handleInput(e) {
			this.filter = e.target.value;
			this.filteredMovies = this.movies.filter(
				movie => ~movie.title.toLowerCase().indexOf(this.filter.toLowerCase())
			);
		},
		getMovies() {
			axios
				.get('/loggeduser')
				.then(
					auth =>
						auth.data != 'anonymousUser' && auth.data.username != 'Admin'
							? axios
									.get('movies')
									.then(response => {
										this.movies = Object.freeze(response.data);
										this.filteredMovies = response.data;
										this.user = auth.data;
									})
									.catch(error => console.log(error))
							: router.push('login')
				)
				.catch(error => router.push('login'));
		}
	}
};
</script>

<style>
.movie-list {
	margin: 5%;
	margin-top: 8%;
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-template-rows: repeat(2, 300px);
}
#filter-input {
	width: 40%;
	margin: 10% 0% -5% 0%;
}
</style>
