<template>
	<header class="App-header">
		<nav>
			<ul id="menu">
				<li>
					<router-link to="/">Trending Movies</router-link>
				</li>
				<li>
					<router-link to="/mymovies">My Movies</router-link>
				</li>
				<li>
					<router-link to="/chat">Chat</router-link>
					<Link to="/chat">Chat</Link>
				</li>
				<button @click="handleClick" >Logout</button>
			</ul>
		</nav>
	</header>
</template>

<script>
import axios from 'axios';
import router from '../router/index';

export default {
	name: 'Header',
	methods: {
		handleClick() {
			axios
				.post('/logmeout', {})
				.then(response => router.push('login'))
				.catch(error => console.log(error));
		}
	}
};
</script>

<style>
.App-header {
	background-color: #f64139;
	width: 100% !important;
	height: 25px;
	color: white;
	position: absolute;
	top: 0;
	left: 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 5px;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li.right {
	float: right;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}
#menu > button {
	position: absolute;
	top: 0;
	right: 20px;
	width: 100px;
	background-color: crimson;
	color: gold;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
}
</style>
