<template>
	<div class="App-login">
		<h3>Prijavite se!</h3>
		<input
			type="text"
			name="username"
			v-model="username"
			placeholder="Username"
			@input = "handleInput"
		/>
		<br />
		<span v-if="errors.has('username')" class="help error">
			 {{ errors.get('username') }}
		</span>
		<br />
		<input
			type="password"
			name="password"
			v-model="password"
			placeholder="Password"
			@input= "handleInput"
		/>
		<br />
		<span  v-if="errors.has('password')" class="help error">
			{{ errors.get('password') }}
		</span>
		<br />
		<button
			:disabled="errors.any() || areInputsEmpty()"
			@click="handleClick"
		>
			Login
		</button>
		<br />
		Nemate račun? <router-link to="register">Registrujte se!</router-link>
	</div>
</template>

<script>
import Errors from '../helpers/Errors';
import { Validator, Handler, ErrorMessages } from '../helpers/Validator';
import axios from 'axios';
import router from '../router/index';

export default {
	name: 'Login',
	data() {
		return {
			username: '',
			password: '',
			errors: new Errors()
		};
	},
	methods: {
		handleClick(e) {
			axios
				.post('/login', {
					username: this.username,
					password: this.password
				})
				.then(response => {
					if (response.data) {
						response.data.role === 'admin' ? router.push('adminboard') : router.push('/');
					} else {
						alert('Bad credentials!');
					}
				})
				.catch(error => console.log(error));
		},
		handleInput(e) {
			if (!Handler[e.target.name](e.target.value)) {
				this.errors.record({
					[e.target.name]: ErrorMessages[e.target.name]
				});
				this[e.target.name] = e.target.value;
			} else {
				this.errors.clear(e.target.name);
				this[e.target.name] = e.target.value;
			}
		},

		areInputsEmpty() {
			return !['username', 'password'].every(key => this[key].length !== 0);
		}
	}
};
</script>

<style>
input[type='text'],
input[type='password'] {
	width: 80%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

button {
	background-color: crimson;
	color: gold;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 25%;
}
button:hover {
	opacity: 0.8;
}

.error {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
	font-size: 70%;
}

.help {
	padding: 5px;
	width: 100px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
}

.App-login {
	width: 500px;
	border-radius: 10px;
	overflow: hidden;
	padding: 60px 60px 40px 60px;
	background: -webkit-linear-gradient(top, #ec8c7c, #e2c067);
	background: -o-linear-gradient(top, #ec8c7c, #e2c067);
	background: -moz-linear-gradient(top, #ec8c7c, #e2c067);
	background: linear-gradient(top, #ec8c7c, #e2c067);
	margin: 15% auto;
}
.App-login > a {
	color: crimson;
}
@media only screen and (max-width: 680px) {
	.App-login {
		width: 300px;
	}
}
</style>
