<template>
	<div v-if="messages && typingUsers && user" ref="container" class="thread-container">
		<div class="thread">
			<div v-for="(message,index) in messages" :key="message.id" :class="['message-container', { 'right' : message.sender === user.name }]">
					<div class="time">{{message.time}}</div>
					<div class="data">
						<div class="message">{{message.message}}</div>
						<div class="name">{{message.sender}}</div>
					</div>
			</div>
			<div  v-for="name in typingUsers" :key="name" class="typing-user">
				{{`${name} is typing . . .`}}
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'Messages',
	props: ['messages', 'user', 'typingUsers'],
	mounted() {
		this.scrollDown();
	},
	updated() {
		this.scrollDown();
	},
	methods: {
		scrollDown: function() {
			const { container } = this.$refs;
			if (container) container.scrollTop = container.scrollHeight;
		}
	}
};
</script>

<style>
.thread-container {
	overflow-y: auto;
	max-height: 500px;
}
.thread-container::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: crimson;
}
.thread-container::-webkit-scrollbar {
	width: 5px;
}
.thread-container::-webkit-scrollbar-thumb {
	background-color: #b55e16;
}
.thread-container .thread {
	position: relative;
	width: 100%;
	min-height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	color: #b3b2ca;
	background: #bc7362;
	min-width: 200px;
}
.message-container {
	display: flex;
	justify-content: flex-start;
	min-height: 50px;
	margin: 10px 15px;
	animation: 0.65s ease-out 0s show;
}
.message-container .time {
	order: 1;
	color: #802224;
}
.message-container .data {
	order: 2;
	height: 100%;
	margin-left: 25px;
}
.message-container .name {
	font-size: 0.65em;
	margin-top: 5px;
	text-align: right;
	color: #802224;
}
.message-container .message {
	background: #efc36c;
	border-radius: 5px;
	border-top-left-radius: 0;
	box-sizing: border-box;
	color: #9c1a0d;
	height: 100%;
	padding: 10px 15px;
	position: relative;
}
@keyframes show {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.message-container .message::before {
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-right-color: #efc36c;
	border-style: solid;
	border-top-color: #efc36c;
	border-width: 4px;
	content: '';
	height: 0;
	left: -7px;
	position: absolute;
	top: 0;
	width: 0;
}
.message-container.right {
	text-align: right;
	justify-content: flex-end;
}
.message-container.right .time {
	order: 2;
	margin-left: 25px;
	color: #802224;
}
.message-container.right .data {
	margin-left: 0;
	order: 1;
}
.message-container.right .name {
	display: none;
}
.message-container.right .message {
	background: #802224;
	color: gold;
	border-top-right-radius: 0;
	border-top-left-radius: 5px;
}
.message-container.right .message::before {
	border-top-color: #802224;
	border-left-color: #802224;
	border-right-color: transparent;
	left: auto;
	right: -7px;
}
.typing-user {
	text-align: right;
	margin: 10px 15px;
	color: crimson;
}
</style>
