<template>
	<div class="message-input">
		<form  @keydown.enter="handleSubmit" class="message-form">
			<input
				id="message"
				ref="messageinput"
				type="text"
				class="form-control"
				v-model="message"
				:autoComplete="'off'"
				placeholder="Type something interesting"
				@keyup="handleKeyUp"
				@change="handleChange"
			/>
		</form>
	</div>
</template>

<script>
export default {
	name: 'MessageInput',
	props: ['sendMessage', 'sendTyping'],
	data() {
		return {
			message: '',
			isTyping: false
		};
	},
	created() {
		this.stopCheckingTyping();
	},
	methods: {
		handleKeyUp: function(e) {
			if (e.keyCode !== 13) {
				this.sendChatTyping();
			}
		},
		handleChange: function({ target }) {
			this.message = target.value;
		},

		sendChatMessage: function() {
			this.sendMessage(this.message);
		},
		handleSubmit: function(e) {
			e.preventDefault();
			this.sendChatMessage();
			this.message = '';
		},
		sendChatTyping: function() {
			this.lastUpdateTime = Date.now();
			if (!this.isTyping) {
				this.isTyping = true;
				this.sendTyping(true);
				this.startCheckingTyping();
			}
		},
		startCheckingTyping: function() {
			console.log('Typing');
			this.typingInterval = setInterval(() => {
				if (Date.now() - this.lastUpdateTime > 300) {
					this.isTyping = false;
					this.stopCheckingTyping();
				}
			}, 300);
		},
		stopCheckingTyping: function() {
			console.log('Stop Typing');
			if (this.typingInterval) {
				clearInterval(this.typingInterval);
				this.sendTyping(false);
			}
		}
	}
};
</script>

<style>
.message-input {
	background: #ec8d4e;
	color: crimson;
	box-sizing: border-box;
	height: 10vh;
	max-height: 30px;
}
.message-input .message-form {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.message-input .message-form .form-control {
	padding-top: 20px;
	padding-bottom: 20px;
	resize: none;
	padding-left: 15px;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	border: none;
	background-color: #ec8d4e;
	color: crimson;
}
.message-input .message-form .form-control::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #cac8ee;
}
.message-input .message-form .form-control::-webkit-scrollbar {
	width: 5px;
	background-color: green;
}
.message-input .message-form .form-control::-webkit-scrollbar-thumb {
	background-color: #484d79;
}
.message-input .message-form .form-control:focus {
	outline: none;
}
.message-input .message-form .send {
	width: 20%;
	box-sizing: border-box;
	font-size: 1.25em;
	text-align: center;
	border: none;
	height: 100%;
	color: #fff;
	background: #3e3e5e;
	transition: all 0.35s ease-out;
}
.message-input .message-form .send:disabled {
	opacity: 0.2;
	background: #5d5d8a;
}
</style>
