<template>
	<div>
		<Header />
		<div class="details">
			<div class="info">
				<img :src="movie.image" :alt="movie.title" />
				<div class="title">
					<h3>{{movie.title}}</h3>
					<h4>({{movie.publishedYear}})</h4>
				</div>
				<p>{{movie.description}}</p>
			</div>
			<div class="reviews">
				<div class="comments">
					<p>
						{{reviews && reviews.length
							? (reviews.reduce((acc, el) => acc + el.rating, 0) / reviews.length).toFixed(2) +
							  '/5'
							: ''}}
					</p>
					<div class="reviewsBox">
						<Review v-for="(review,index) in reviews.slice().reverse()"  :key="`review-${index}`" :review="review" />
					</div>
				</div>

				<div class="add-review">
					<input
						v-model="comment"
						type="text"
						placeholder="Add comment"
					/>
					<star-rating :rating="rating" @rating-selected ="setRating" :star-size="15"></star-rating>
					<button @click="handleClick" >Add review</button>
				</div>
			</div>

			<div class="trailer">
				<iframe
					title="YouTube Video Frame"
					:src="`https://www.youtube-nocookie.com/embed/${
						movie.video
					}?rel=0&amp;controls=0&amp;showinfo=0`"
					frameBorder="0"
					allowFullScreen
				/>
			</div>
		</div>
	</div>
</template>

<script>
import axios from 'axios';
import router from '../router/index';
import StarRating from 'vue-star-rating';
import Review from './Review';
import Header from './Header';

export default {
	name: 'MovieCard',
	data() {
		return {
			movie: null,
			user: null,
			comment: '',
			reviews: [],
			rating: 0
		};
	},
	components: {
		StarRating,
		Review,
		Header
	},
	created() {
		this.getMovieAndUserInfo();
	},
	methods: {
		getMovieAndUserInfo() {
			axios
				.get(`/loggeduser`)
				.then(response => {
					this.user = response.data;
					axios
						.get(`/movie/${this.$route.params.title}`)
						.then(response => {
							this.movie = response.data;
							this.reviews = response.data.reviews;
						})
						.catch(error => console.log(error));
				})
				.catch(error => console.log(error));
		},
		handleClick() {
			axios
				.post('/review', {
					title: this.movie.title,
					username: this.user,
					rating: this.rating,
					comment: this.comment
				})
				.then(response => {
					this.reviews.push(response.data);
					this.comment = '';
					this.rating = 0;
				})
				.catch(error => console.log(error));
		},
		setRating: function(rating) {
			this.rating = rating;
		}
	}
};
</script>

<style>
.details {
	margin: 10%;
	display: grid;
	grid-gap: 5px;
	grid-template-areas:
		'info reviews'
		'trailer trailer';
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-template-rows: repeat(2, 300px);
}
@media only screen and (max-width: 960px) {
	.details {
		margin: 15% 5% 0% 5%;
		display: grid;
		grid-gap: 5px;
		grid-template-areas:
			'info info'
			'reviews review'
			'trailer trailer';
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, 350px);
	}
	.App {
		min-height: 300vh;
	}
}
.info {
	grid-area: info;
	min-height: 270px;
	display: grid;
	border: solid gold 1px;
	grid-template-areas:
		'image des'
		'title  des';
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	grid-template-rows: repeat(2, 215px);
	margin: 3%;
	background-color: #c36e5d;
}
.info > img {
	height: 77%;
	grid-area: image;
	padding: 5%;
}
.info > .title {
	grid-area: title;
}
.info > p {
	grid-area: des;
	font-size: 90%;
}
.title > h4 {
	font-size: 95%;
	margin-top: 0px;
	color: #800020;
}
.title > h3 {
	font-size: 95%;
	margin: 0px;
	color: #800020;
}
.reviews {
	grid-area: reviews;
	min-height: 270px;
	display: grid;
	border: solid gold 1px;
	grid-template-areas:
		'com add'
		'com  butt';
	margin: 2%;
	background-color: #c36e5d;
}
.reviews > .comments {
	grid-area: com;
	min-width: 200px;
}
.reviews > .comments > p:first-of-type {
	font-weight: bold;
}
.add-review {
	min-width: 200px;
	padding: 5%;
}
.add-review > input {
	grid-area: add;
	width: 70%;
	margin-top: 20%;
	margin-left: 5%;
}
.add-review > .vue-star-rating {
	grid-area: add;
	width: 50%;
	padding-left: 15%;
}
.add-review > button {
	grid-area: butt;
}
.trailer {
	grid-area: trailer;
}
.trailer > iframe {
	width: 80%;
	height: 80vh;
	margin-top: 3%;
}
.reviewsBox {
	max-height: 200px;
	overflow-y: auto;
}
.reviewsBox::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	/*background-color: #cac8ee;*/
	background-color: crimson;
}
.reviewsBox::-webkit-scrollbar {
	width: 5px;
}
.reviewsBox::-webkit-scrollbar-thumb {
	background-color: gold;
}
</style>
