<template>
	<div class="movie-item">
		<router-link :to="{ name: 'details', params: {title: movie.title } }">
			<img :alt="movie.title" :src="movie.image" />
			<div class="basic-info">
				<h3>{{movie.title}}</h3>
				<h4>{{movie.publishedYear}}</h4>
			</div>
		</router-link>
		<div class="favorite">
			<p>{{movie.description}}</p>
			<button
				v-if = "!~movie.users.indexOf(user)"
				@click = "favorite" >
				Favorite
			</button>
		</div>
	</div>
</template>

<script>
import axios from 'axios';
import router from '../router/index';

export default {
	name: 'MovieCard',
	props: ['movie', 'user'],
	methods: {
		favorite() {
			axios
				.post('/favoritemovie', {
					title: this.movie.title,
					username: this.user
				})
				.then(response => router.push('mymovies'))
				.catch(error => console.log(error));
		}
	}
};
</script>

<style>
.movie-item {
	display: grid;
	border: solid gold 1px;
	max-width: 360px;
	min-height: 270px;
	grid-template-areas:
		'image des'
		'title  favorite';
	margin: 3%;
	background-color: #c36e5d;
}

.movie-item > a > img {
	width: 75%;
	height: 75%;
	grid-area: image;
	padding: 5%;
}
.movie-item > a {
	text-decoration: none;
}
.basic-info {
	grid-area: title;
}
.basic-info > h4 {
	font-size: 90%;
	margin-top: 0px;
	color: #800020;
}
.basic-info > h3 {
	font-size: 90%;
	margin: 0px;
	color: #800020;
}
.favorite > p {
	grid-area: des;
	font-size: 90%;
}
.favorite > button {
	grid-area: favorite;
	width: 50%;
}
</style>
