<template>
	<div>
		<Header />
		<div class="movie-list">
			<MovieCard v-for="(movie,index) in movies" :movie="movie"
				:user = "user"
				:key="`mymovie-${index}`"/>
		</div>
	</div>
</template>

<script>
import MovieCard from './MovieCard';
import Header from './Header';
import axios from 'axios';
import router from '../router/index';

export default {
	name: 'MyMovies',
	data() {
		return {
			movies: [],
			user: ''
		};
	},
	mounted() {
		this.getMovies();
	},
	components: {
		MovieCard: MovieCard,
		Header: Header
	},
	methods: {
		getMovies() {
			axios
				.get('/loggeduser')
				.then(
					auth =>
						auth.data != 'anonymousUser'
							? axios
									.get(`movies/${auth.data}`)
									.then(response => {
										this.movies = Object.freeze(response.data);
										this.user = auth.data;
									})
									.catch(error => console.log(error))
							: router.push('login')
				)
				.catch(error => router.push('login'));
		}
	}
};
</script>


<style>
.movie-list {
	margin: 5%;
	margin-top: 8%;
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-template-rows: repeat(2, 300px);
}
</style>
