<template>
      <div class="App-register">
        <h3>Registrujte se!</h3>
        <input
			type="text"
			name="username"
			v-model="username"
			placeholder="Username"
			@input = "handleInput"
		/>
		<br />
		<span v-if="errors.has('username')" class="help error">
			 {{ errors.get('username') }}
		</span>
		<br />
		<input
			type="text"
			name="firstname"
			v-model="firstname"
			placeholder="Ime"
			@input = "handleInput"
		/>
		<br />
		<span v-if="errors.has('firstname')" class="help error">
			 {{ errors.get('firstname') }}
		</span>
		<br />
		<input
			type="text"
			name="lastname"
			v-model="lastname"
			placeholder="Prezime"
			@input = "handleInput"
		/>
		<br />
		<span v-if="errors.has('lastname')" class="help error">
			 {{ errors.get('lastname') }}
		</span>
		<br />
		<input
			type="text"
			name="email"
			v-model="email"
			placeholder="Email"
			@input = "handleInput"
		/>
		<br />
		<span v-if="errors.has('email')" class="help error">
			 {{ errors.get('email') }}
		</span>
		<br />
		<input
			type="password"
			name="password"
			v-model="password"
			placeholder="Password"
			@input = "handleInput"
		/>
		<br />
		<span v-if="errors.has('password')" class="help error">
			 {{ errors.get('password') }}
		</span>
		<br />
		<input
			type="password"
			name="confpassword"
			v-model="confpassword"
			placeholder="Potvrda password"
			@input = "handleInput"
		/>
		<br />
		<span v-if="errors.has('confpassword')" class="help error">
			 {{ errors.get('confpassword') }}
		</span>
		<br />
		<button
			:disabled="errors.any() || areInputsEmpty()"
			@click="handleClick"
		>
			Register
		</button>
        <br />
        Već ste registrovani? <router-link to="login">Prijavite se!</router-link>
      </div>
</template>

<script>
import Errors from '../helpers/Errors';
import { Validator, Handler, ErrorMessages } from '../helpers/Validator';
import axios from 'axios';
import router from '../router/index';

export default {
	name: 'Register',
	data() {
		return {
			username: '',
			password: '',
			firstname: '',
			lastname: '',
			email: '',
			confpassword: '',
			errors: new Errors()
		};
	},
	methods: {
		handleClick(e) {
			axios
				.post('/registration', {
					username: this.username,
					password: this.password,
					firstName: this.firstname,
					lastName: this.lastname,
					email: this.email
				})
				.then(response => router.push('/'))
				.catch(error => console.log(error));
		},
		handleInput(e) {
			if (!Handler[e.target.name](e.target.value, this.password)) {
				this.errors.record({
					[e.target.name]: ErrorMessages[e.target.name]
				});
				this[e.target.name] = e.target.value;
			} else {
				this.errors.clear(e.target.name);
				this[e.target.name] = e.target.value;
			}
		},

		areInputsEmpty() {
			return !['username', 'password'].every(key => this[key].length !== 0);
		}
	}
};
</script>


<style>
input[type='text'],
input[type='password'] {
	width: 90%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	border-radius: 10px;
}

button {
	background-color: crimson;
	color: gold;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 25%;
}

button:hover {
	opacity: 0.8;
}

.error {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
	font-size: 70%;
}

.help {
	padding: 5px;
	width: 100px;
	margin-bottom: 20px;
	border: 1px solid transparent;
}
.App-register {
	width: 500px;
	border-radius: 10px;
	overflow: hidden;
	padding: 60px 60px 40px 60px;
	background: -webkit-linear-gradient(top, #ec8c7c, #e2c067);
	background: -o-linear-gradient(top, #ec8c7c, #e2c067);
	background: -moz-linear-gradient(top, #ec8c7c, #e2c067);
	background: linear-gradient(top, #ec8c7c, #e2c067);
	margin: 15% auto;
}
@media only screen and (max-width: 680px) {
	.App-register {
		width: 300px;
	}
}
.App-register > a {
	color: crimson;
}
</style>
