<template>
	<div className="review-info">
		<p>
			{{review.username}}: <span>{{review.comment}}</span>
		</p>
		<star-rating :rating="review.rating" :read-only="true" :star-size="15"></star-rating>
	</div>
</template>

<script>
import StarRating from 'vue-star-rating';

export default {
	name: 'Review',
	props: ['review'],
	components: {
		StarRating
	}
};
</script>

<style>
.vue-star-rating {
	margin-left: 5%;
}
</style>
