<template>
  <div id="app">
  	<div class="Container"><router-view/></div>
  </div>
</template>

<script>
export default {
	name: 'App'
};
</script>

<style>
#app {
	position: relative;
	width: 100%;
	min-height: 200vh;
	background-image: url(./assets/background_image.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #333;
}
.Container {
	width: 100%;
	position: absolute;
	top: 0;
}
html,
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	height: 100%;
}
input,
textarea {
	font-family: Arial;
}
button:hover {
	opacity: 0.8;
}
input {
	padding: 12px 20px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	border-radius: 10px;
}
button {
	background-color: crimson;
	color: gold;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
}
</style>
