.details {
	margin: 10%;
	display: grid;
	grid-gap: 5px;
	grid-template-areas:
		'info reviews'
		'trailer trailer';
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-template-rows: repeat(2, 300px);
}
@media only screen and (max-width: 960px) {
	.details {
		margin: 15% 5% 0% 5%;
		display: grid;
		grid-gap: 5px;
		grid-template-areas:
			'info info'
			'reviews review'
			'trailer trailer';
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, 350px);
	}
	.App {
		min-height: 300vh;
	}
}
.info {
	grid-area: info;
	min-height: 270px;
	display: grid;
	border: solid gold 1px;
	grid-template-areas:
		'image des'
		'title  des';
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	grid-template-rows: repeat(2, 215px);
	margin: 3%;
	background-color: #c36e5d;
}
.info > img {
	height: 77%;
	grid-area: image;
	padding: 5%;
}
.info > .title {
	grid-area: title;
}
.info > p {
	grid-area: des;
	font-size: 90%;
}
.title > h4 {
	font-size: 95%;
	margin-top: 0px;
	color: #800020;
}
.title > h3 {
	font-size: 95%;
	margin: 0px;
	color: #800020;
}
.reviews {
	grid-area: reviews;
	min-height: 270px;
	display: grid;
	border: solid gold 1px;
	grid-template-areas:
		'com add'
		'com  butt';
	margin: 2%;
	background-color: #c36e5d;
}
.reviews > .comments {
	grid-area: com;
	min-width: 200px;
}
.reviews > .comments > p:first-of-type {
	font-weight: bold;
}
.add-review > input {
	grid-area: add;
	width: 60%;
	margin: 5%;
}
.add-review > .dv-star-rating {
	grid-area: add;
}
.add-review > button {
	grid-area: butt;
	width: 50%;
	margin-left: -25%;
}
.trailer {
	grid-area: trailer;
}
.trailer > iframe {
	width: 80%;
	height: 80vh;
	margin-top: 3%;
}
.reviewsBox {
	max-height: 200px;
	overflow-y: auto;
}
.reviewsBox::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	/*background-color: #cac8ee;*/
	background-color: crimson;
}
.reviewsBox::-webkit-scrollbar {
	width: 5px;
}
.reviewsBox::-webkit-scrollbar-thumb {
	background-color: gold;
}
