.movie-item {
	display: grid;
	border: solid gold 1px;
	max-width: 360px;
	min-height: 270px;
	grid-template-areas:
		'image des'
		'title  favorite';
	margin: 3%;
	background-color: #c36e5d;
}

.movie-item > a > img {
	width: 75%;
	height: 75%;
	grid-area: image;
	padding: 5%;
}
.movie-item > a {
	text-decoration: none;
}
.basic-info {
	grid-area: title;
}
.basic-info > h4 {
	font-size: 90%;
	margin-top: 0px;
	color: #800020;
}
.basic-info > h3 {
	font-size: 90%;
	margin: 0px;
	color: #800020;
}
.favorite > p {
	grid-area: des;
	font-size: 90%;
}
.favorite > button {
	grid-area: favorite;
	width: 50%;
}
