<div class="movie-item">
	<a [routerLink]="'/details/'+movie.title" routerLinkActive="active">
		<img alt={{movie.title}} src={{movie.image}} />
		<div class="basic-info">
			<h3>{{movie.title}}</h3>
			<h4>{{movie.publishedYear}}</h4>
		</div>
	</a>
	<div class="favorite">
		<p>{{movie.description}}</p>
		<button
			[hidden]="movie.users.indexOf(user) !== -1"
			(click) = "favorite()" >
			Favorite
		</button>
	</div>
</div>