.options-container {
	margin: 12% auto 5% auto;
	background-color: #da7057;
	width: 70%;
	border-radius: 10px;
}
.options-container > button {
	margin: 1% 2%;
	border-radius: 5px;
	max-width: 150px;
}
#benchmarkTable {
	margin: 0 auto;
	border: 1px solid lightgrey;
	border-collapse: collapse;
}
.table-container {
	max-height: 700px;
	overflow-y: auto;
}

.table-container::-webkit-scrollbar {
	display: none;
}

.rows:nth-child(odd) > td {
	background: #da7057;
	color: black;
}
.rows:nth-child(even) > td {
	background: #bc7362;
	color: black;
}
td,
th {
	border: 1px solid gold;
	text-align: center;
	padding: 8px;
}
#header > th {
	border: 1px solid gold;
	text-align: center;
	background: #da7057;
	font-weight: bold;
	padding: 8px;
	color: #200f0a;
}
.delete-link {
	background-color: crimson;
	font-size: 14;
	font-weight: 500;
	padding: 3px 48px;
	border-radius: 5px;
	color: gold;
	cursor: pointer;
}
