<div>
	<app-adminheader></app-adminheader>
	<div class="options-container">
		<button (click)="measureTime(createShows,'createShows')">Create 500 shows</button>
		<button (click)="measureTime(addShows,'addShows')">Add 500 shows</button>
		<button (click)="measureTime(updateShows,'updateShows')">Update rows</button>
		<button (click)="measureTime(deleteShows,'deleteShows')">Delete shows</button>
	</div>
	<div class="table-container">
		<table *ngIf="shows.length" id="benchmarkTable">
			<tbody>
				<tr id="header">
					<th>Row Number</th>
					<th>Show Title</th>
					<th>Show Genre</th>
					<th>Show Actor</th>
					<th>Delete Show</th>
				</tr>
				<tr *ngFor="let show of shows; let i = index; trackBy: index" class="rows">
					<td>{{i + 1}}</td>
					<td>{{show.title}}</td>
					<td>{{show.genre}}</td>
					<td>{{show.actor}}</td>
					<td>
						<a class="delete-link" (click)="deleteShow(i)">
							Delete
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>