<div #container class="thread-container">
	<div *ngIf="messages && typingUsers" class="thread">
		<div *ngFor="let message of messages" [ngClass]="{'message-container': true, 'right': message.sender === user.name}">
				<div class="time">{{message.time}}</div>
				<div class="data">
					<div class="message">{{message.message}}</div>
					<div class="name">{{message.sender}}</div>
				</div>
		</div>
		<div  *ngFor="let name of typingUsers"  class="typing-user">
			{{name}} is typing ...
		</div>
	</div>
</div>