<div>
	<app-header></app-header>
	<div *ngIf="isLoaded" class="container">
		<div class="chat-room-container">
			<app-messages  [messages]="chat.messages" [user]="user" [typingUsers]="chat.typingUsers"></app-messages>
			<app-messageinput [sendMessage]="sendMessageWrapper.bind(this)" [sendTyping]="sendTypingWrapper.bind(this)"></app-messageinput>
		</div>
	</div>
</div>