<header class="App-header">
	<nav>
		<ul id="admin-menu">
			<li>
				<a routerLink="/adminboard" routerLinkActive="active">Manage Users</a>
			</li>
			<li>
				<a routerLink="/benchmark" routerLinkActive="active">Benchmark</a>
			</li>
			<li>
				<a routerLink="/benchmarkResults" routerLinkActive="active">Benchmark Results</a>
			</li>
			<button (click)="handleClick()">Logout</button>
		</ul>
	</nav>
</header>