<div class="App-register">
	<h3>Registrujte se!</h3>
	<input
		type="text"
		name="username"
		placeholder="Username"
	 	[(ngModel)]="username"
		(input)="handleInput($event)"
	/>
	<br />
	<span *ngIf="errors.has('username')" class="help error">
		 {{ errors.get('username') }}
	</span>
	<br />
	<input
		type="text"
		name="firstname"
		placeholder="Firstname"
	 	[(ngModel)]="firstname"
		(input)="handleInput($event)"
	/>
	<br />
	<span *ngIf="errors.has('firstname')" class="help error">
		 {{ errors.get('firstname') }}
	</span>
	<br />
	<input
		type="text"
		name="lastname"
		placeholder="Lastname"
	 	[(ngModel)]="lastname"
		(input)="handleInput($event)"
	/>
	<br />
	<span *ngIf="errors.has('lastname')" class="help error">
		 {{ errors.get('lastname') }}
	</span>
	<br />
	<input
		type="text"
		name="email"
		placeholder="Email"
	 	[(ngModel)]="email"
		(input)="handleInput($event)"
	/>
	<br />
	<span *ngIf="errors.has('email')" class="help error">
		 {{ errors.get('email') }}
	</span>
	<br />
	<input
		type="password"
		name="password"
		placeholder="Password"
		[(ngModel)]="password"
		(input)="handleInput($event)"
	/>
	<br />
	<span  *ngIf="errors.has('password')" class="help error">
		{{ errors.get('password') }}
	</span>
	<br />
	<input
		type="password"
		name="confpassword"
		placeholder="Potvrda password"
		[(ngModel)]="confpassword"
		(input)="handleInput($event)"
	/>
	<br />
	<span  *ngIf="errors.has('confpassword')" class="help error">
		{{ errors.get('confpassword') }}
	</span>
	<br />
	<button
		[disabled]="errors.any() || areInputsEmpty()"
		(click)="handleClick()"
	>
		Register
	</button>
	<br />
	Već ste registrovani? <a routerLink="/login" routerLinkActive="active">Prijavite se!</a>
</div>
