#benchmarkResultsTable {
	margin: 0 auto;
	border: 1px solid lightgrey;
	border-collapse: collapse;
}
.framework-option-container {
	margin: 12% auto 5% auto;
	background-color: #da7057;
	width: 70%;
	border-radius: 10px;
}
.framework-option-container > button {
	margin: 1% 2%;
	border-radius: 5px;
	max-width: 200px;
}
#averageScore-container {
	margin: 5% auto;
	background-color: #bc7362;
	width: 30%;
	padding: 10px;
	font-weight: bold;
	border-radius: 5px;
	color: #200f0a;
}
