<header class="App-header">
	<nav>
		<ul id="menu">
			<li>
				<a routerLink="/dashboard" routerLinkActive="active">Trending Movies</a>
			</li>
			<li>
				<a routerLink="/mymovies" routerLinkActive="active">My Movies</a>
			</li>
			<li>
				<a routerLink="/chat" routerLinkActive="active">Chat</a>
			</li>
			<button (click)="handleClick()">Logout</button>
		</ul>
	</nav>
</header>