<div>
	<app-header></app-header>
	<div *ngIf="movie" class="details">
		<div class="info">
			<img src={{movie.image}} alt={{movie.title}} />
			<div class="title">
				<h3>{{movie.title}}</h3>
				<h4>({{movie.publishedYear}})</h4>
			</div>
			<p>{{movie.description}}</p>
		</div>
		<div class="reviews">
			<div class="comments">
				<p>
					{{averageScore}}
				</p>
				<div class="reviewsBox">
					<app-review *ngFor="let review of reviews.slice().reverse()" [review]="review"></app-review>
				</div>
			</div>

			<div class="add-review">
				<input
					[(ngModel)]="comment"
					type="text"
					placeholder="Add comment"
				/>
				<form class="rating">
				  <label>
				    <input type="radio" name="stars" value="1" [(ngModel)]="rating" (change)="changedRating($event)" />
				    <span class="icon">★</span>
				  </label>
				  <label>
				    <input type="radio" name="stars" value="2" [(ngModel)]="rating" (change)="changedRating($event)" />
				    <span class="icon">★</span>
				    <span class="icon">★</span>
				  </label>
				  <label>
				    <input type="radio" name="stars" value="3" [(ngModel)]="rating" (change)="changedRating($event)" />
				    <span class="icon">★</span>
				    <span class="icon">★</span>
				    <span class="icon">★</span>   
				  </label>
				  <label>
				    <input type="radio" name="stars" value="4" [(ngModel)]="rating" (change)="changedRating($event)" />
				    <span class="icon">★</span>
				    <span class="icon">★</span>
				    <span class="icon">★</span>
				    <span class="icon">★</span>
				  </label>
				  <label>
				    <input type="radio" name="stars" value="5" [(ngModel)]="rating" (change)="changedRating($event)"/>
				    <span class="icon">★</span>
				    <span class="icon">★</span>
				    <span class="icon">★</span>
				    <span class="icon">★</span>
				    <span class="icon">★</span>
				  </label>
				</form>
				<button (click)="handleClick()" >Add review</button>
			</div>
		</div>

		<div class="trailer">
			<iframe
				title="YouTube Video Frame"
				[src]="iframeURL"
				frameBorder="0"
				allowFullScreen
			></iframe>
		</div>
	</div>
</div>
<!-- "https://www.youtube-nocookie.com/embed/D86RtevtfrA?rel=0&amp;controls=0&amp;showinfo=0" -->
<!-- src="{{ BaseURL + dish.image }}" -->