.details {
	margin: 10%;
	display: grid;
	grid-gap: 5px;
	grid-template-areas:
		'info reviews'
		'trailer trailer';
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-template-rows: repeat(2, 300px);
}
@media only screen and (max-width: 960px) {
	.details {
		margin: 15% 5% 0% 5%;
		display: grid;
		grid-gap: 5px;
		grid-template-areas:
			'info info'
			'reviews review'
			'trailer trailer';
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, 350px);
	}
	.App {
		min-height: 300vh;
	}
}
.info {
	grid-area: info;
	min-height: 270px;
	display: grid;
	border: solid gold 1px;
	grid-template-areas:
		'image des'
		'title  des';
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	grid-template-rows: repeat(2, 215px);
	margin: 3%;
	background-color: #c36e5d;
}
.info > img {
	height: 77%;
	grid-area: image;
	padding: 5%;
}
.info > .title {
	grid-area: title;
}
.info > p {
	grid-area: des;
	font-size: 90%;
}
.title > h4 {
	font-size: 90%;
	margin-top: 0px;
	color: #800020;
}
.title > h3 {
	font-size: 90%;
	margin-top: 5px;
	margin-bottom: 0px;
	color: #800020;
}
.reviews {
	grid-area: reviews;
	min-height: 270px;
	display: grid;
	border: solid gold 1px;
	grid-template-areas:
		'com add'
		'com  butt';
	margin: 2%;
	background-color: #c36e5d;
}
.reviews > .comments {
	grid-area: com;
}
.reviews > .comments > p:first-of-type {
	font-weight: bold;
}
.add-review {
	padding: 5%;
}
.add-review > input {
	grid-area: add;
	width: 70%;
	margin-top: 5%;
	margin-left: 5%;
}
.add-review > .vue-star-rating {
	grid-area: add;
	width: 50%;
	padding-left: 15%;
}
.add-review > button {
	grid-area: butt;
}
.trailer {
	grid-area: trailer;
}
.trailer > iframe {
	width: 80%;
	height: 80vh;
	margin-top: 3%;
}
.reviewsBox {
	max-height: 200px;
	overflow-y: auto;
	min-width: 200px;
}
.reviewsBox::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	/*background-color: #cac8ee;*/
	background-color: crimson;
}
.reviewsBox::-webkit-scrollbar {
	width: 5px;
}
.reviewsBox::-webkit-scrollbar-thumb {
	background-color: gold;
}

.rating {
	display: inline-block;
	position: relative;
	height: 30px;
	line-height: 30px;
	font-size: 30px;
}

.rating label {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	cursor: pointer;
}

.rating label:last-child {
	position: static;
}

.rating label:nth-child(1) {
	z-index: 5;
}

.rating label:nth-child(2) {
	z-index: 4;
}

.rating label:nth-child(3) {
	z-index: 3;
}

.rating label:nth-child(4) {
	z-index: 2;
}

.rating label:nth-child(5) {
	z-index: 1;
}

.rating label input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.rating label .icon {
	float: left;
	color: transparent;
}

.rating label:last-child .icon {
	color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
	color: #ffc058;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
	color: #000;
	text-shadow: 0 0 5px #09f;
}
