#app {
	position: relative;
	width: 100%;
	min-height: 200vh;
	background-image: url(../assets/background_image.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #333;
}
.Container {
	width: 100%;
	position: absolute;
	top: 0;
}
