<div>
	<app-adminheader></app-adminheader>
	<div class="framework-option-container">
		<button (click)="averageScores('angular')">Angular Average Scores</button>
		<button (click)="averageScores('react')">React Average Scores</button>
		<button (click)="averageScores('vue')">Vue Average Scores</button>
	</div>
	<div [hidden]="!averageFrameworkScores" id="averageScore-container"></div>
	<div class="table-container">
		<table *ngIf="benchmarks.length" id="benchmarkResultsTable">
			<tbody>
				<tr id="header">
					<th>Action</th>
					<th>Duration</th>
					<th>Framework</th>
				</tr>
				<tr id="benchmarkResultsTableFilter">
					<td>
						<input type="text" name="action" placeholder="Action" (input)="handleInput($event)" />
					</td>
					<td>
						<input type="text" name="duration" placeholder=" > duration" (input)="handleInput($event)" />
					</td>
					<td>
						<input type="text" name="framework" placeholder="framework" (input)="handleInput($event)" />
					</td>
				</tr>
				<tr *ngFor="let benchmark of filteredBenchmarks" class="rows">
					<td>{{benchmark.action}}</td>
					<td>{{benchmark.duration}}</td>
					<td>{{benchmark.framework}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>