<div>
	<app-header></app-header>
	<input
		type="text"
		id="filter-input"
		placeholder="Search"
		name="username"
	 	[(ngModel)]="filter"
		(input)="handleInput($event)"
	/>
	<div class="movie-list">
		<app-moviecard *ngFor="let movie of filteredMovies"  [movie]="movie" [user]="user">
		</app-moviecard>
	</div>
</div>