<div>
	<app-adminheader></app-adminheader>
	<table id="table">
		<tbody>
			<tr id="header">
				<th>User Name</th>
				<th>User First Name</th>
				<th>User Last Name</th>
				<th>User Email</th>
				<th>Delete User</th>
			</tr>
			<tr id="filter">
				<td>
					<input
						type="text"
						name="username"
						placeholder="filter username"
						(input)="handleInput($event)"
					/>
				</td>
				<td>
					<input
						type="text"
						name="firstName"
						placeholder="filter firstname"
						(input)="handleInput($event)"
					/>
				</td>
				<td>
					<input
						type="text"
						name="lastName"
						placeholder="filter lastname"
						(input)="handleInput($event)"
					/>
				</td>
				<td>
					<input 
						type="text" 
						name="email" 
						placeholder="filter email" 
						(input)="handleInput($event)" />
				</td>
				<td></td>
			</tr>
			<tr *ngFor="let user of filteredUsers" class="rows">
				<td>{{user.username}}</td>
				<td>{{user.firstName}}</td>
				<td>{{user.lastName}}</td>
				<td>{{user.email}}</td>
				<td>
					<a class="delete-link" (click)="deleteUser(user.username)">
						Delete
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>